@import 'tailwindcss';

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
  --animate-fancy-text: fancyText 2s ease-in-out forwards;

  @keyframes fancyText {
    0% {
      opacity: 0;
      transform: scale(0.8) translateY(20px);
      background-size: 200%;
      background-position: left;
    }
    50% {
      opacity: 1;
      transform: scale(1.05) translateY(0);
      background-position: center;
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0);
      background-position: right;
    }
  }
}

/* Reset styles */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Reset styles */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
